.node {
  width: 1.3rem;
  height: 1.3rem;
  /* margin: 0; */
  border: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.start-node {
  background: rgb(68, 136, 24);
}

.end-node {
  background: rgb(214, 50, 50);
}

.visited-node {
  animation: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-wall {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #022433;
  border: 1px solid #022433;
  display: inline-block;
  animation-name: wallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.shortest-path-nodes {
  animation: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgb(2, 36, 51);
    border-radius: 30%;
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(2, 36, 51);
    border-radius: 20%;
  }

  75% {
    transform: scale(0.8);
    background-color: rgb(2, 36, 51);
    border-radius: 10%;
  }

  100% {
    transform: scale(1);
    background-color: rgb(2, 36, 51);
    border: 1px solid rgb(2, 36, 51);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.3);
    /* background-color: rgb(255, 254, 106); */
    background-color: rgba(255, 0, 255, 0.75);
    border-radius: 100%;
  }

  50% {
    /* background-color: rgb(255, 254, 106); */
    transform: scale(0.5);
    background-color: rgba(255, 0, 255, 0.75);
    border-radius: 75%;
  }

  75% {
    tansform: scale(0.7);
    border-radius: 50%;
    background-color: rgba(255, 0, 255, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 0, 255, 0.75);
  }
}
